.main-section {
  min-height: calc(100vh - 104px);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
